<div class="banner-style">
  <% flash.keys.each do |k| %>
    <% if k == 'success' %>
    <div class="Polaris-Banner Polaris-Banner--statusSuccess" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner24Heading" aria-describedby="Banner24Content">
      <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorGreenDark Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path></g></svg></span></div>
    <% else%>
      <div class="Polaris-Banner Polaris-Banner--statusWarning" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner23Heading" aria-describedby="Banner23Content">
        <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorYellowDark Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-13a1 1 0 0 0-1 1v4a1 1 0 1 0 2 0V6a1 1 0 0 0-1-1m0 8a1 1 0 1 0 0 2 1 1 0 0 0 0-2"></path></g></svg></span></div>
      <%end%>
      <div>
        <div class="Polaris-Banner__Heading" id="Banner23Heading">
          <p class="Polaris-Heading"><%= flash[k]%></p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
