<div class="Polaris-ButtonGroup__Item">
  <a class="Polaris-Button Polaris-Button--primary" href=<%=url_for(action: 'new')%> data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span>Add New Record</span></span></a>
  <a class="Polaris-Button Polaris-Button" href=<%=url_for(action: 'sort')%> data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span>Sort Records</span></span></a>
</div>

