<div class="Polaris-ButtonGroup__Item">
  <%= link_to 'Add New Record', new_patient_path, class: "Polaris-Button Polaris-Button--primary", 'data-polaris-unstyled': "true", data: { turbolinks: false }%>
  <%= link_to 'Sort Records', url_for(action: 'sort'), class: "Polaris-Button Polaris-Button", 'data-polaris-unstyled': "true" %>
</div>

