<div id="profile-wrapper">
  <div class="Polaris-Card">
    <div class="Polaris-Card__Header">
      <h2 class="Polaris-Heading"><%= t('.patients')%></h2>
    </div>
    <div class="Polaris-Card__Section">
      <ul class="Polaris-List Polaris-List--typeBullet">
        <% user.nurse_assignments.where(end_date: nil).to_a.each do |assignment| %>
          <% patient = Patient.find(assignment.patient_id)%>
          <% if patient.name == new_patient_name %>
            <li class="patient-highlight Polaris-List__Item">
            <% else %>
              <li class="Polaris-List__Item">
              <% end %>

              <%=patient.name%>
              </li>
            <%end%>
      </ul>
    </div>
  </div>
</div>
