<% if @past_patients && !@current_patients.empty?%>
  <div class="patient-partition-header">
    <h3 aria-label="Accounts" class="Polaris-Subheading">Current Patients</h3>
  </div>
<% end %>
<%= render partial: "partials/patient_card", locals: {patients: @current_patients}%>

<% if @past_patients && !@past_patients.empty? %>
  <div class="patient-partition-header">
    <h3 aria-label="Accounts" class="Polaris-Subheading">Past Patients</h3>
  </div>
  <%= render partial: "partials/patient_card", locals: {patients: @past_patients}%>
<% end%>
