<% if @past_patients && !@current_patients.empty?%>
  <div class="patient-partition-header">
    <h3 aria-label="Accounts" class="Polaris-Subheading">Current Patients</h3>
  </div>
<% end %>
<%= render partial: "admin/partials/patient_card", locals: {patients: @current_patients, is_not_subsection: @is_not_subsection}%>

<% if @past_patients && !@past_patients.empty? %>
  <div class="patient-partition-header">
    <h3 aria-label="Accounts" class="Polaris-Subheading">Past Patients</h3>
  </div>
  <%= render partial: "admin/partials/patient_card", locals: {patients: @past_patients, is_not_subsection: @is_not_subsection}%>
<% end%>

<% if @past_patients && @current_patients && @past_patients.empty? && @current_patients.empty?%>
  <h3>This nurse has no patients assigned to them at the moment</h3>
<%end%>
