/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flex-container {
  display: flex;
  .Nurse-Content {
    width: 75%;
  }
  .make-shift-navbar {
    width: 25%;
    height: 100vh;
    background: #E3D0FF;
  }
}

.nurses, .patients, .rooms, .doctors{
  width: 100%;
}
.Record-Card {
  margin-top: 10px;
  margin-left: 2rem;
  width: auto;
}

.Query-Section {
  margin-top: 10px;
  margin-left: 2rem;
  width: 75%;
}
.banner-style {
  margin-left: 2rem;
  width: 100%;
}

#profile-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.tuple-wrapper {
  width: 100%;
}

.flex1 {
  flex: 0 1 50%;
}

.flex2 {
  flex: 1 1 25%;
}

@keyframes patient-highlight { 
  0%{
    background: #E3D0FF;
  }
  100%{
    background: none;
  }
}

.patient-highlight {
  animation: patient-highlight 1s;
}

.field_with_errors + .Polaris-TextField__Backdrop {
  background: #ffebee;
}

.patient-partition-header {
  margin-top: 2rem;
  margin-left: 2rem;
}

